.blog-card{
  width: 100vw;
  background-color: whitesmoke;
  box-shadow: 3px 3px 20px 3px grey;
  border-radius: 1rem;
  padding: .1rem;
}
.blog-title{
  font-weight: bold;
  font-size: 1.8rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; 
}
.blogimage{
  width: 10rem;
  height: 10rem;
  border-radius: 1rem;
  margin: auto;
  padding: .3rem;

}
.blog-content{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.blog-auther{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, cursive;
}